@media screen and (max-width: 900px) { 
    .header2 {
        font-size: 1.2rem;
        padding: 80px;
        line-height: 30px;
    }

    .bannerimg {
        height: 350px;
    }

    /* video {
        width: 150px;
        padding: 30px;
        height: 200px;
    } */

    .blog-img {
        width: 250px;
        height: 170px;
    }

    .car {
        width: 340px;
        height: 150px;
    }

    .cardtitle {
        padding-left: 0px;
    }

    .img {
        display: none;
    }

    .who {
        font-size: 18px;
        line-height: 30px;
        /* padding-left: 10px; */
        /* word-spacing: 7px; */
    }

    .everyone {
        width: 250px;
        height: 200px;
    }
    
    .blog1 {
        padding-bottom: 20px;
    }

    .whoimg {
        width: 350px;
        padding: 0px;
    }

    .whatimg {
         display: none;  
        /* width: 350px; */
        padding: 0px;
    }

    .what {
        padding: 0px;
    } 

    .row {
        padding: 0px;
    }

    .locationimg {
        width: 300px;
    }

    .culture {
        margin: 1px;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}